<div>
  <h1>Product Description</h1>
  <div>
    <h2>Technical Content</h2>
    <p>{{ technicalContent }}</p>
  </div>

  <div>
    <h2>Features & Benefits</h2>
    <h3>Features</h3>
    <ul>
      <li *ngFor="let feature of features">{{ feature }}</li>
    </ul>
  </div>

  <div>
    <h3>Usage</h3>
    <p>{{ usage }}</p>
  </div>

  <div>
    <h3>Crops</h3>
    <p>{{ crops }}</p>
  </div>

  <div>
    <h3>Time Of Application</h3>
    <p>{{ timeOfApplication }}</p>
  </div>

  <div>
    <h3>Dosage</h3>
    <p>{{ dosage }}</p>
  </div>
</div>
