<!-- <div>
  <h1>Product Description</h1>
  <div>
    <h2>Technical Content</h2>
    <p>{{ technicalContent }}</p>
  </div>

  <div>
    <h2>Features & Benefits</h2>
    <h3>Features</h3>
    <ul>
      <li *ngFor="let feature of features">{{ feature }}</li>
    </ul>
  </div>

  <div>
    <h3>Usage</h3>
    <p>{{ usage }}</p>
  </div>

  <div>
    <h3>Crops</h3>
    <p>{{ crops }}</p>
  </div>

  <div>
    <h3>Time Of Application</h3>
    <p>{{ timeOfApplication }}</p>
  </div>

  <div>
    <h3>Dosage</h3>
    <p>{{ dosage }}</p>
  </div>
</div> -->


<!-- It is an another page [page2] -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-parent">
      <div class="frame-child"></div>
      <div class="frame-item"></div>
      <div class="saved-price-42">saved price ₹42</div>
      <img class="frame-inner" alt="" src="../../../assets/images/star.svg" />

      <img class="star-icon" alt="" src="../../../assets/images/star.svg" />

      <img class="frame-child1" alt="" src="../../../assets/images/star.svg" />

      <img class="frame-child2" alt="" src="../../../assets/images/star.svg" />

      <img class="frame-child3" alt="" src="../../../assets/images/star.svg" />

      <div class="namdhari">Namdhari</div>
      <div class="rectangle-div"></div>
      <div class="frame-child4"></div>
      <div class="surabhi-coriander">SURABHI CORIANDER</div>
      <div class="frame-child5"></div>
      <div class="div">4.8</div>
      <div class="reviews">40 reviews</div>
      <div class="price">price</div>
      <div class="div1">₹208</div>
      <div class="div2">
        <p class="p">₹250</p>
      </div>
      <div class="frame-child6"></div>
      <div class="off">17% OFF</div>
      <div class="frame-child7"></div>
      <div class="size">Size</div>
      <img class="corriander-icon" alt="" src="../../../assets/images/coriander.png" />

      <div class="gms">500 gms</div>
      <div class="variants">Variants</div>
      <div class="frame-child8"></div>
      <div class="frame-child9"></div>
      <div class="gms1">500 gms</div>
      <div class="frame-child10"></div>
      <div class="gmspack-of-500">1000 gms(pack of 500 gms x 2)</div>
      <div class="frame-child11"></div>
      <div class="gms-pack-of">2500 gms (pack of 500 gms x 5)</div>
      <div class="frame-child12"></div>
      <div class="gms-pack-of1">5000 gms (pack of 500 gms x 10)</div>
      <div class="frame-child13"></div>
      <div class="gms2">100 gms</div>
      <div class="frame-child14"></div>
      <img class="ellipse-icon" alt="" src="../../../assets/images/black_dot.svg" />

      <img class="frame-child15" alt="" src="../../../assets/images/black_dot.svg" />

      <img class="frame-child16" alt="" src="../../../assets/images/black_dot.svg" />

      <img class="frame-child17" alt="" src="../../../assets/images/black_dot.svg" />

      <div class="frame-child18"></div>
      <div class="frame-child19"></div>
      <div class="frame-child20"></div>
      <div class="secure-payments">Secure Payments</div>
      <div class="frame-child21"></div>
      <div class="in-stock-ready">In Stock, Ready to Ship</div>
      <div class="country-of-origin">Country of Origin India</div>
    </div>
  </body>
</html>
