<div class="log-div">
  <div class="registration-container">
    <h2 class="text-center mb-4">Registration</h2>

    <form (ngSubmit)="registerUser()">
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
      </div>

      <div class="mb-3">
        <label for="contact" class="form-label">Mobile Number:</label>
        <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="user.mobile" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>

      <div class="text-center mt-3">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
    </form>
  </div>
</div>
