<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Password Reset</h2>
          <form #mainForm="ngForm">

            <div *ngIf="!otpSubmitted && !otpVerified">
              <!-- Email Section -->
              <div class="form-group">
                <label for="email">Email or Mobile number: </label>
                <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="contact"
                  #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                  <div *ngIf="email.errors?.required">Email or Mobile number is required.</div>
                  <div *ngIf="email.errors?.email">Invalid or Mobile number format.</div>
                </div>
              </div>
              <br>
              <button type="button" class="btn btn-outline-primary" (click)="submitEmail()"
                [disabled]="email.invalid">Send OTP</button>
            </div>

            <div *ngIf="otpSubmitted && !otpVerified">
              <!-- OTP Section -->
              <div class="form-group">
                <label for="otp">OTP:</label>
                <input type="text" class="form-control" id="otp" name="otp" required [(ngModel)]="user.otp"
                  #otpInput="ngModel">
                <div *ngIf="otpInput.invalid && (otpInput.dirty || otpInput.touched)" class="text-danger">
                  <div *ngIf="otpInput.errors?.required">OTP is required.</div>
                </div>
              </div>
              <br>
              <button type="button" class="btn btn-outline-success" (click)="submitOtp()"
                [disabled]="otpInput.invalid">Verify OTP</button>
            </div>

            <!-- Password Section -->
            <div *ngIf="otpVerified">
              <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" class="form-control" id="password" name="password" required
                  [(ngModel)]="user.password" #passwordInput="ngModel">
                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
                  class="text-danger">
                  <div *ngIf="passwordInput.errors?.required">Password is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required
                  [(ngModel)]="confirmPassword" compare="user.password" #confirmPasswordInput="ngModel">
                <div
                  *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)"
                  class="text-danger">
                  <div *ngIf="confirmPasswordInput.errors?.required">Confirm Password is required.</div>
                  <div *ngIf="confirmPasswordInput.errors?.compare">Passwords do not match.</div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="resetpassword()" [disabled]="mainForm.invalid">Set
                New Password</button>
            </div>
          </form>



        </div>
      </div>
    </div>
  </div>
</div>
